
@{
    ViewData["Title"] = "Details";
}

<h1>Member Loan Details</h1>
<br />
    <h5>List of DVDs Loaned in last 31 Days</h5>
    <hr />
     <dl class="row">
        <dt class = "col-sm-2">
           Member Name
        </dt>
        <dd class = "col-sm-10">
            @ViewData["Member"]
        </dd>
    </dl>

   <table class="table">
    <thead>
        <tr>
            <th>
                DVD Title
            </th>
            <th>
                Copy Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
     {
        <tr>
            
            <td>
                @item.Title
            </td>
            <td>
                @item.CopyNumber
            </td>
    
        </tr>
     }
    </tbody>
</table> 
<div>
    <a asp-action="Index">Back to List</a>
</div>