@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An Error Occured</h1>
<h2 class="text-danger">Please view the message below to know about the error</h2>

<div class="container m-auto">
    <h1 class="display-1">Invalid Operation</h1>
    <hr />
    <p>@ViewBag.Error</p>
</div>
