@model RopeyDVDs.Models.DVDCategory

@{
    ViewData["Title"] = "DVD Category Details";
}

<h1>DVD Category Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Category Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>
        <dt class = "col-sm-2">
           Age Restricted
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeRestricted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
