@model RopeyDVDs.Models.UserRegisterModel

@{
    ViewData["Title"] = "RegisterManager";
    Layout = "_EmptyLayout";
}

<h1>RegisterManager</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Enter Username</label>
                <input asp-for="Username" class="form-control" required/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Enter Email</label>
                <input asp-for="Email" class="form-control" type="email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Enter Password</label>
                <input asp-for="Password" class="form-control" type="password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register Manager" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

