@model RopeyDVDs.Models.Producer

@{
    ViewData["Title"] = "Producer Details";
}

<h1>Producer Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Producer's Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
