
@{
    ViewData["Title"] = "DVDDetails";
}

<h1>DVD Details for the Store</h1>
<p>View all DVDs in the Store with the details of the producer, studio, cast</p>
<hr />
<table class="table">
    <thead>
        
    </thead>
</table>

