@model Actor
@{
ViewData["Title"] = "SelectActors";
}
<h1>Actor Selection</h1>
<br />

<div class="row">
    <h5>View Movies played by Actor with Cast Members</h5>
<hr />
    <div class="col-md-4">
        <form asp-action="ShowDVDsofActors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="ActorSurName" class="control-label">Select Actor Surname</label>
                <select asp-for="ActorSurName" class="form-control" asp-items="ViewBag.ActorSurname"
                    name="actorList"></select>
                <button class="btn btn-primary mt-3" type="submit">Choose Actor</button>
                  <br />
                  <br />
                  <br />
            </div>
        </form>
    </div>
  
    <h5>View DVDs Copies Available for the Movies Played By Selected Actor</h5>
    <hr />
    <div class="col-md-4">
        <form asp-action="ShowDVDCopiesofActors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group mt-3">
                <label asp-for="ActorSurName" class="control-label">Select Actor Surname</label>
                <select asp-for="ActorSurName" class="form-control" asp-items="ViewBag.ActorSurname"
                    name="actorList"></select>
                <button class="btn btn-primary mt-3" type="submit">Choose Actor</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}