@model RopeyDVDs.Models.LoanType

@{
    ViewData["Title"] = "Loan Type Details";
}

<h1>Loan Type Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
           Loan Duration
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
